<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>алюмінієва балка</title>
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [["$", "$"]], // Настройка для inline формул
          displayMath: [["$$", "$$"]], // Настройка для дисплейных формул
        },
        startup: {
          typeset: false, // Отключаем автоматический рендеринг при загрузке страницы
        },
      };
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
      async
    ></script>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="./geometrySection.js"></script>
    <script src="./stressDeflection.js"></script>
    <script src="./alCheck.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="page">
        <div class="input">
          <h2>Розрахунок алюмініевого профіля міцніть та прогиб</h2>
          <p>
            Марка алюмінію:
            <select v-model="mark">
              <option disabled value="">Виберіть марку</option>
              <option>АД31Т5</option>
              <option>АД31Т1</option>
              <option>1915Т</option>
              <option>АД31Т</option>
              <option>6060T66</option></select
            >{{R_ins}}
          </p>
          <p>
            R=
            <input v-model="R" type="number" placeholder="R" size="5" />
            (МПа) Розрахунковий опір алюмінію
          </p>
          <p>
            E=
            <input v-model="elastic" type="number" placeholder="E" />
            (МПа) Модуль пружності алюмінію
          </p>
          <p>
            b=
            <input v-model="b" type="number" placeholder="b" />
            (м) ширина дії навантаження
          </p>
          <p>
            Для перевірки граничних станів першої групи використовуються основні
            поєднання, що включають постійні навантаження з граничними
            розрахунковими значеннями, також граничні розрахункові, циклічні або
            квазіпостійні значення змінних навантажень:
          </p>
          <p>
            q<sub>r</sub>=
            <input v-model="q_r" type="number" placeholder="q_r" />
            (Па) Розрахункове навантаження (100 кгс/м<sup>2</sup> = 1000 Па)
          </p>
          <p>Розрахункове навантаження з урахування ширини дії:</p>
          <p>
            $$q=q_{r}\times b={{q_r}} \times {{b}}={{q=Math.round( q_r * b
            *100)/100}} Па/м$$
          </p>
          <p>
            Для перевірки граничних станів другої групи використовуються основні
            поєднання, що включають постійні навантаження з експлуатаційними
            значеннями, а також експлуатаційні розрахункові, циклічні або
            квазіпостійні значення змінних навантажень:
          </p>
          <p>
            q<sub>n</sub>=
            <input v-model="q_n" type="number" placeholder="q_n" />
            (Па)Експлутаційне навантаження (100 кгс/м<sup>2</sup> = 1000 Па)
          </p>
          <p>Експлутаційне навантаження з урахування ширини дії:</p>
          <p>
            $$q_{e}=q_{n}\times b={{q_n}} \times {{b}}={{q_e=Math.round( q_n * b
            *100)/100}} Па/м$$
          </p>
        </div>
        <geometry-section
          @update:ipcalk="ipcalk = $event"
          @update:wpcalk="W_p = $event"
        >
        </geometry-section>
      </div>
      <div class="page">
        <stress-deflection
          :elastic="elastic"
          :calculated="calculated"
          :normative="normative"
          :ipcalk="ipcalk"
          @update:stress="stress = $event"
          @update:deflection="deflection = $event"
          @update:lenght="lenght = $event"
          @update:types="types = $event"
        ></stress-deflection>
        <!-- <metal-check
        :wpcalk="wpcalk"
        :ipcalk="ipcalk"
        :resistance="resistance"
        :stress="stress"
        :lenght="lenght"
        :deflection="deflection"
        :types="types"
        ></metal-check> -->
        <al-check
          :wpcalk="wpcalk"
          :ipcalk="ipcalk"
          :resistance="resistance"
          :stress="stress"
          :lenght="lenght"
          :deflection="deflection"
          :types="types"
        ></al-check>
      </div>
    </div>

    <script>
      const app = Vue.createApp({
        data() {
          return {
            mark: "1915Т",
            R: 55,
            elastic: 70000,
            q_r: 1767,
            q_n: 770,
            b: 1.33,
            b_s: 100,
            ipcalk: 166.71,
            W_p: 26.53,
            l: 2.3,
            stress: 1554.01,
            deflection: 1.09,
            lenght: 2.3,
            types: 1,
          };
        },
        computed: {
          R_ins() {
            if (this.mark === "1915Т") {
              this.R = 195;
            } else if (this.mark === "АД31Т5") {
              this.R = 100;
            } else if (this.mark === "АД31Т1") {
              this.R = 120;
            } else if (this.mark === "6060T66") {
              this.R = 195;
            } else {
              this.R = 55;
            }
          },
          wpcalk() {
            return this.W_p;
          },
          resistance() {
            return this.R;
          },
          calculated() {
            return this.q_r * this.b;
          },
          normative() {
            return this.q_n * this.b;
          },
        },
        mounted() {
          this.renderMath();
        },
        updated() {
          this.renderMath();
        },
        methods: {
          round(a) {
            return Math.round(a * 100) / 100;
          },
          renderMath() {
            MathJax.typesetPromise();
          },
        },
        components: {
          GeometrySection,
          StressDeflection,
          AlCheck,
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
