<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>металева балка</title>
    <!-- Подключаем MathJax для рендеринга формул -->
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [["$", "$"]], // Настройка для inline формул
          displayMath: [["$$", "$$"]], // Настройка для дисплейных формул
        },
        startup: {
          typeset: false, // Отключаем автоматический рендеринг при загрузке страницы
        },
      };
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
      async
    ></script>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="../09_al_beam/geometrySection.js"></script>
    <script src="../09_al_beam/stressDeflection.js"></script>
    <script src="./metalCheck.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="page">
        <div class="input">
          <h2>Розрахунок металевої балки на міцніть та прогиб</h2>
          <p>
            R=
            <input v-model="R" type="number" placeholder="R" size="5" />
            (МПа) Розрахунковий опір
          </p>
          <p>
            E=
            <input v-model="elastic" type="number" placeholder="E" />
            (МПа) Модуль пружності
          </p>
          <p>
            b=
            <input v-model="b" type="number" placeholder="b" />
            (м) ширина дії навантаження
          </p>
          <p>
            Для перевірки граничних станів першої групи використовуються основні
            поєднання, що включають постійні навантаження з граничними
            розрахунковими значеннями, також граничні розрахункові, циклічні або
            квазіпостійні значення змінних навантажень:
          </p>
          <p>
            q<sub>r</sub>=
            <input v-model="q_r" type="number" placeholder="q_r" />
            (Па) Розрахункове навантаження (100 кгс/м<sup>2</sup> = 1000 Па)
          </p>
          <p>Розрахункове навантаження з урахування ширини дії:</p>
          <p>
            $$q=q_{r}\times b={{q_r}} \times {{b}}={{q=Math.round( q_r * b
            *100)/100}} Па/м$$
          </p>
          <p>
            Для перевірки граничних станів другої групи використовуються основні
            поєднання, що включають постійні навантаження з експлуатаційними
            значеннями, а також експлуатаційні розрахункові, циклічні або
            квазіпостійні значення змінних навантажень:
          </p>
          <p>
            q<sub>n</sub>=
            <input v-model="q_n" type="number" placeholder="q_n" />
            (Па)Експлутаційне навантаження (100 кгс/м<sup>2</sup> = 1000 Па)
          </p>
          <p>Експлутаційне навантаження з урахування ширини дії:</p>
          <p>
            $$q_{e}=q_{n}\times b={{q_n}} \times {{b}}={{q_e=Math.round( q_n * b
            *100)/100}} Па/м$$
          </p>
        </div>
        <geometry-section
        @update:ipcalk="ipcalk = $event"
        @update:wpcalk="W_p = $event"
        >
        </geometry-section>
      </div>
      <div class="page">
        <stress-deflection
        :elastic="elastic"
        :calculated="calculated"
        :normative="normative"
        :ipcalk="ipcalk"
        @update:stress="stress = $event"
        @update:deflection="deflection = $event"
        @update:lenght="lenght = $event"
        @update:types="types = $event"
        ></stress-deflection>
        <metal-check
        :wpcalk="wpcalk"
        :ipcalk="ipcalk"
        :resistance="resistance"
        :stress="stress"
        :lenght="lenght"
        :deflection="deflection"
        :types="types"
        ></metal-check>
      </div>
    </div>
    
    <script>
      const app = Vue.createApp({
        data() {
          return {
            R: 235,
            elastic: 206000,
            q_r: 1767,
            q_n: 770,
            b: 1.33,
            b_s: 100,
            ipcalk:166.71,
            W_p:26.53,
            // l: 2.3,
            stress:1554.01,
            deflection:1.09,
            lenght:2.3,
            types:1,
          };
        },
        computed: {
          wpcalk(){
            return this.W_p
          },
          resistance(){
            return this.R
          },
          calculated(){
            return this.q_r *this.b
          },
          normative(){
            return this.q_n *this.b
          }
        },
        mounted() {
          this.renderMath();
        },
        updated() {
          this.renderMath();
        },
        methods: {
          round(a) {
            return Math.round(a * 100) / 100;
          },
          renderMath() {
            MathJax.typesetPromise();
          },
        },
        components:{
            GeometrySection, StressDeflection, MetalCheck,
        }
      });

      app.mount("#app");
    </script>
  </body>
</html>
