<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ветровая нагрузка</title>
    <style>
      body {
        background-image: url(../A4.svg);
        background-repeat: repeat-y;
        font-family: "Times New Roman", Times, Georgia, serif;
        font-size: 0.99em;
      }

      .page {
        /* border-style: solid; */
        /* border-color: red; */
        /* border-width: 0.03cm; */
        margin: 0px 0.5cm 2cm 1.8cm;
        height: 990px;
        width: 17.5cm;
        padding: 0.5cm;
      }

      .before {
        height: 8px;
        border-style: solid;
        border-color: white;
        font-size: 10px;
        content: " ";
      }

      table {
        border-collapse: collapse;
        border: 2px solid rgb(140 140 140);
        font-size: 0.8rem;
        letter-spacing: 1px;
      }

      caption {
        padding: 10px;
        font-weight: bold;
      }

      th,
      td {
        border: 1px solid rgb(160 160 160);
        padding: 8px 10px;
      }

      td {
        text-align: center;
      }

      tbody > tr:nth-of-type(even) {
        background-color: rgb(237 238 242);
      }

      thead {
        background-color: rgb(228 240 245);
      }

      .help {
        color: red;
      }
      .help:hover img {
        display: inline;
      }
      .help img {
        display: none;
        z-index: 1;
        position: absolute;
      }
    </style>
  </head>

  <body>
    <script src="./vue.global.js"></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true
        },
        "HTML-CSS": { fonts: ["TeX"] }
      });
    </script>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js"
    ></script>

    <div id="app">
      <div class="before"></div>
      <div class="page">
        <h2>Визначення вітрового навантаження</h2>
        <p>ДБН В.1.2-2:2006 навантаження і впливи</p>
        <p>9 ВІТРОВІ НАВАНТАЖЕННЯ</p>
        <!-- &times; -->
        <p>
          z=
          <input v-model="z" type="number" placeholder="z" />
          м, висота споруди
        </p>
        <p>
          B=
          <input v-model="B" type="number" placeholder="B" />
          м, ширина чи диаметр
        </p>
        <p>
          9.11 Коефіцієнт рельєфу С<sub>rеl</sub> враховує мікрорельєф
          місцевості поблизу площадки розташування будівельного об'єкта і
          приймається таким, що дорівнює одиниці, за винятком випадків, коли
          об'єкт будівництва розташований на пагорбі або схилі.
        </p>
        <p>
          $\varphi=0.05$ ухил з підвітряного боку (ухил H/L з підвітряного боку)
        </p>
        <p>$$С_{rеl}={{C_rel=1}}$$</p>
        <p>
          9.12 Коефіцієнт напрямку C<sub>dir</sub> враховує нерівномірність
          вітрового навантаження за напрямками вітру і, як правило, приймається
          таким, що дорівнює одиниці. Значення C<sub>dir</sub> , що
          відрізняється від одиниці, допускається враховувати при спеціальному
          обґрунтуванні тільки для відкритої рівнинної місцевості та при
          наявності достатніх статистичних даних. $$C_{dir}={{C_dir=1}}$$
        </p>
        <p>
          9.10 Коефіцієнт географічної висоти С<sub>аlt</sub> враховує висоту H
          (в кілометрах) використовується для об'єктів, розташованих у гірській
          місцевості приймається і дає орієнтовне значення в запас надійності.
          Для об'єктів масового будівництва: $$C_{alt}={{C_alt=1}}$$
        </p>
        <p>
          9.9 Коефіцієнт висоти споруди C<sub>h</sub> враховує збільшення
          вітрового навантаження залежно від висоти споруди або її частини, що
          розглядається, над поверхнею землі , типу навколишньої місцевості і
          визначається за по табл.9.02 для всіх будівель та споруд старший
          період власних коливань яких перевищує 0,25 с.
        </p>
        <p>
          Типи місцевості, що оточує будівлю чи споруду, визначаються для
          кожного розрахункового напрямку вітру окремо:
        </p>
        <p>
          I - відкриті поверхні морів, озер, а також плоскі рівнини без
          перешкод, що піддаються дії вітру на ділянці довжиною не менш як 3 км;
        </p>
        <p>
          II - сільська місцевість з огорожами (парканами), невеликими
          спорудами, будинками і деревами;
        </p>
        <p>III – приміські і промислові зони, протяжні лісові масиви;</p>
        <p>
          IV – міські території, на яких принаймні 15% поверхні зайняті
          будівлями, що мають середню висоту понад 15 м.
        </p>
        <p>
          При визначенні типу місцевості споруда вважається розташованою на
          місцевості даного типу для певного розрахункового напрямку вітру, якщо
          у цьому напрямку така місцевість є на відстані $30 \times Z = 30
          \times {{z}} = {{Math.round(30*z)}}$ м, при повній висоті споруди Z <
          60 м або 2 км – при більшій висоті.
        </p>
      </div>
      <div class="before"></div>
      <div class="page">
        <p>
          Тип місцевості:
          <select v-model="place">
            <option disabled value="">Виберіть тип місцевості</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </p>
        <p>$C_h={{c_h}}$</p>
        <p>
          9.16 При розрахунку кріплень елементів огороджень до несучих
          конструкцій у кутах споруди і по зовнішньому контуру покриття слід
          враховувати місцевий від'ємний тиск вітру з аеродинамічним
          коефіцієнтом С<sub>аеr</sub> = –2, розподілений вздовж поверхонь на
          ширині 1,5 м. (рис. 9.11). $$С_{аеr} = –2 $$
        </p>
        <p>
          9.8 Аеродинамічні коефіцієнти С<sub>аеr</sub> визначаються за додатком
          І залежно від форми споруди або конструктивного елемента і можуть мати
          вигляд:
        </p>
        <p>Схема 2. Будівлі с двосхилими покриттями</p>
        <img
          src="./wind/sheme.svg"
          width="300px"
          alt="Схема 2. Будівлі с двосхилими покриттями"
        />
        <p>
          коефіцієнти С<sub>e</sub>, які слід враховувати при визначенні
          вітрового тиску, прикладеного нормально до зовнішніх поверхонь споруди
          або елемента і віднесеного до одиниці площі цієї поверхні;
        </p>
        <p>$$С_{аеr} = {{C_aer=0.8}}$$</p>

        <p>
          9.13 Коефіцієнт динамічності C<sub>d</sub> враховує вплив пульсаційної
          складової вітрового навантаження і просторову кореляцію вітрового
          тиску на споруду.
        </p>
        <p>
          9.16 При расчете креплений элементов ограждения к несущим конструкциям
          в углах здания и по внешнему контуру покрытия следует учитывать
          местное отрицательное давление ветра с аэродинамическим коэффициентом
          С<sub>аеr</sub> = –2, распределенное вдоль поверхностей на ширине 1,5
          м (рис. 9.11).
        </p>
        <img src="./wind/sheme2.svg" width="550px" alt="рис 9.11" />
      </div>
      <div class="before"></div>
      <div class="page">
        <img src="./wind/9-5.svg" alt="Рисунок 9.5" />
        <p>
          Рисунок 9.5. Коефіцієнт C<sub>d</sub> для кам'яних будівель і будівель
          із залізобетонним каркасом
        </p>
        <img src="./wind/9-6.svg" alt="Рисунок 9.6" />
        <p>
          Рисунок 9.6. Коефіцієнт C<sub>d</sub> для будівель із сталевим
          каркасом
        </p>
        <img src="./wind/9-7.svg" alt="Рисунок 9.7" />
        <p>
          Рисунок 9.7. Коефіцієнт C<sub>d</sub> для будівель із сталебетонним
          каркасом
        </p>
        <p>
          Для основних типів будівель і споруд значення C<sub>d</sub>
          визначаються за графіками на рис. 9.5-9.10. Наведені на рисунках
          ширина і діаметр прийняті в перерізі, перпендикулярному до вітрового
          потоку.
        </p>
      </div>
      <div class="before"></div>
      <div class="page">
        <p>
          C<sub>d</sub>=
          <input v-model="C_d" type="number" placeholder="C_d" />
          в залежності від висоти Z={{z}}м, та ширини B={{B}}м, споруди
        </p>
        <p>
          9.7 Коефіцієнт С визначається за формулою: $$C = C_{aer} \times C_h
          \times C_{alt} \times C_{rel} \times C_{dir} \times C_d $$ $$C =
          {{C_aer}} \times {{c_h}} \times {{C_alt}} \times {{C_rel}} \times
          {{C_dir}} \times {{C_d}}=
          {{C=Math.round(C_aer*C_h*C_alt*C_rel*C_dir*C_d*100)/100}} $$
        </p>
        <p>
          Характеристичне значення вітрового тиску W0 визначається залежно від
          вітрового району
          <span class="help" color="red"
            >по карті (рис. 9.1)
            <img class="help-img" src="../images/wind.png" alt="wind" />
          </span>
          або за додатком Е.
        </p>
        <p>
          W<sub>0</sub>=
          <input v-model="W_0" type="number" placeholder="W_0" />
          Pa
        </p>
        <p>
          9.14 Коефіцієнт надійності за граничним розрахунковим значенням
          вітрового навантаження визначається залежно від заданого середнього
          періоду повторюваності Т за табл. 9.1.
        </p>

        <p>
          згідно ДБН В.1.2-14:2018 Загальні принципи забезпечення надійності та
          конструктивної безпеки будівель і споруд
        </p>
        <table>
          <caption>
            Таблиця 2 - Строк експлуатації будівель та інженерних споруд
          </caption>
          <thead>
            <tr>
              <th scope="col">Найменування</th>
              <th scope="col">
                Орієнтовне значення розрахункового строку експлуатації
                T<sub>ef</sub>, років
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <select v-model="age">
                  <option disabled value="">Виберіть тип</option>
                  <option>житлові та громадські</option>
                  <option>виробничі та допоміжні</option>
                  <option>складські</option>
                  <option>сільськогосподарські</option>
                  <option>
                    мобільні збірно-розбірні (у тому числі промислові, житлові
                    та інші)
                  </option>
                  <option>мобільні контейнерні</option>
                </select>
              </th>
              <td>{{year}}</td>
            </tr>
          </tbody>
        </table>
        <p>$$\gamma_{fm}={{gamma_fm}}$$</p>
        <p>
          9.15 Коефіцієнт надійності за експлуатаційним розрахунковим значенням
          вітрового навантаження $\gamma_{fe}$ визначається за табл. 9.3 залежно
          від частки часу $\eta$ , протягом якої можуть порушуватися умови
          другого граничного стану.
        </p>
        <p>
          Значення $\eta$ приймається за нормами проектування конструкцій або
          встановлюється завданням на проектування залежно від їхнього
          призначення, відповідальності та наслідків виходу за граничний стан.
          Для об'єктів масового будівництва допускається приймати $\eta= 0,02$
          $\gamma_{fe}={{gamma_fe=0.21}}$
        </p>

        <p>
          9.5 Експлуатаційне розрахункове значення вітрового навантаження
          визначається за формулою: $$ W_e = \gamma_{fe} \times W_0 \times C =
          {{gamma_fe}} \times {{W_0}} \times {{C}} =
          {{W_e=Math.round(gamma_fe*W_0*C*100)/100}} Па$$
        </p>
        <p>
          9.4 Граничне розрахункове значення вітрового навантаження визначається
          за формулою: $$W_m = \gamma_{fm} \times W_0 \times C = {{gamma_fm}}
          \times {{W_0}} \times {{C}} = {{W_m =
          Math.round(gamma_fm*W_0*C*100)/100}} Па $$
        </p>
        <table>
          <caption>
            Загальная таблиця вітрових навантажень
          </caption>
          <thead>
            <tr>
              <th scope="col">Вид вітрового навантаження</th>
              <th scope="col">С<sub>аlt</sub>=0.8</th>
              <th scope="col">С<sub>аlt</sub>=-2</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Експлуатаційне, Па</th>
              <td>{{W_e}}</td>
              <td>{{Math.round(W_e/0.8*(-2)*100)/100}}</td>
            </tr>
            <tr>
              <th scope="row">Граничне розрахункове значення, Па</th>
              <td>{{W_m}}</td>
              <td>{{Math.round(W_m/0.8*(-2)*100)/100}}</td>
            </tr>
          </tbody>
        </table>
        <p>10 Па = 1 $\frac{ кгс }{ м^2 }$</p>
        <!-- <div v-if="k < 1">
                <h3>Міцність перерізу достатня коэфіцієнт використання {{k}}</h3>
            </div>
            <div style="color: red;" v-else>
                <h3>Необхідно збільшити кількість гвинтів</h3>
            </div> -->

        <!-- <div class="before"></div> -->
      </div>
      <script>
        const { createApp } = Vue;

        createApp({
          data() {
            return {
              z: 17.22,
              place: 3,
              B: 372,
              C_h: 2.25,
              C_d: 0.9,
              W_0: 370,
              activeColor: "black",
              age: "житлові та громадські",
              gamma_fm: 1.14,
            };
          },
          methods: {
            reRender() {
              if (window.MathJax) {
                console.log("rendering mathjax");
                window.MathJax.Hub.Queue(["Typeset", window.MathJax.Hub], () =>
                  console.log("done")
                );
              }
            },
          },
          computed: {
            mu() {
              if (this.alpha < 25) {
                return 1;
              } else if (this.alpha > 60) {
                return 0;
              } else {
                return Math.round(((60 - this.alpha) / 35) * 100) / 100;
              }
              return;
            },
            c_h() {
              z = this.z;
              p = this.place;
              if (p == 1) {
                if (z <= 5) {
                  c = 1.4;
                } else if (z <= 10) {
                  c = 1.8;
                } else if (z <= 20) {
                  c = 1.95;
                } else if (z <= 40) {
                  c = 2.25;
                } else if (z <= 60) {
                  c = 2.45;
                } else if (z <= 80) {
                  c = 2.65;
                } else if (z <= 100) {
                  c = 2.7;
                } else if (z <= 150) {
                  c = 2.95;
                } else {
                  c = 3.1;
                }
              } else if (p == 2) {
                if (z <= 5) {
                  c = 1.2;
                } else if (z <= 10) {
                  c = 1.5;
                } else if (z <= 20) {
                  c = 1.85;
                } else if (z <= 40) {
                  c = 2.2;
                } else if (z <= 60) {
                  c = 2.45;
                } else if (z <= 80) {
                  c = 2.6;
                } else if (z <= 100) {
                  c = 2.7;
                } else if (z <= 150) {
                  c = 3.0;
                } else {
                  c = 3.15;
                }
              } else if (p == 3) {
                if (z <= 5) {
                  c = 0.9;
                } else if (z <= 10) {
                  c = 1.2;
                } else if (z <= 20) {
                  c = 1.55;
                } else if (z <= 40) {
                  c = 2.0;
                } else if (z <= 60) {
                  c = 2.25;
                } else if (z <= 80) {
                  c = 2.45;
                } else if (z <= 100) {
                  c = 2.6;
                } else if (z <= 150) {
                  c = 2.9;
                } else {
                  c = 3.3;
                }
              } else {
                if (z <= 5) {
                  c = 0.6;
                } else if (z <= 10) {
                  c = 1.0;
                } else if (z <= 20) {
                  c = 1.4;
                } else if (z <= 40) {
                  c = 1.95;
                } else if (z <= 60) {
                  c = 2.25;
                } else if (z <= 80) {
                  c = 2.5;
                } else if (z <= 100) {
                  c = 2.7;
                } else if (z <= 150) {
                  c = 3.1;
                } else {
                  c = 3.4;
                }
              }
              return c;
            },
            year() {
              if (this.age == "житлові та громадські") {
                this.gamma_fm = 1.14;
                return 100;
              } else if (this.age == "виробничі та допоміжні") {
                this.gamma_fm = 1.04;
                return 60;
              } else if (this.age == "складські") {
                this.gamma_fm = 1.04;
                return 60;
              } else if (this.age == "сільськогосподарські") {
                this.gamma_fm = 1.0;
                return 50;
              } else if (
                this.age ==
                "мобільні збірно-розбірні (у тому числі промислові, житлові та інші)"
              ) {
                this.gamma_fm = 0.83;
                return 20;
              } else {
                this.gamma_fm = 0.76;
                return 15;
              }
            },
            redAlert() {
              if (this.L < this.L_max) {
                return "red";
              } else {
                return "black";
              }
            },
          },
          mounted() {
            this.reRender();
          },
          watch: {
            place: function () {
              console.log("data changed");
              this.$nextTick().then(() => {
                this.reRender();
              });
            },
            z: function () {
              console.log("data changed");
              this.$nextTick().then(() => {
                this.reRender();
              });
            },
            B: function () {
              console.log("data changed");
              this.$nextTick().then(() => {
                this.reRender();
              });
            },
            C_h: function () {
              console.log("data changed");
              this.$nextTick().then(() => {
                this.reRender();
              });
            },
            C_d: function () {
              console.log("data changed");
              this.$nextTick().then(() => {
                this.reRender();
              });
            },
            W_0: function () {
              console.log("data changed");
              this.$nextTick().then(() => {
                this.reRender();
              });
            },
            gamma_fm: function () {
              console.log("data changed");
              this.$nextTick().then(() => {
                this.reRender();
              });
            },
          },
        }).mount("#app");
      </script>
    </div>
  </body>
</html>
