<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>beam</title>
    <link rel="stylesheet" href="style.css" />
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [["$", "$"]],
          displayMath: [["$$", "$$"]],
        },
        startup: {
          typeset: false,
        },
      };
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
      async
    ></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./inputBlock.js"></script>
    <script src="./ImageLoads.js"></script>
    <script src="./ImageBeam.js"></script>
    <script src="./ImageEpur.js"></script>
  </head>
  <body>
    <div>
      <p>{{upReaction()}}</p>

      <div class="page">
        <div id="v-model-radiobutton">
          <input type="radio" value="1" v-model="type" />
          <label for="one">Консольна балка</label>
          <input type="radio" id="three" value="2" v-model="type" />
          <label for="two">Балка на двох опорах</label>
        </div>
        <input-Block v-model:loads="loads" v-model:data="data"></input-Block>
        <div v-if="type==1">
          <p>Розрахункова схема балки</p>
          <image-loads :beam="data.beamLength" :loads="loads"></image-loads>
        </div>
        <div v-else>
          <p>
            <span class="form-group">
              <label>Положення першої опори: </label>
              <input
                type="number"
                v-model="support[0].start"
                min="0"
                step="0.1"
              />
              м;
            </span>
            <span class="form-group">
              <label>Положення другої опори: </label>
              <input
                type="number"
                v-model="support[1].start"
                min="0"
                step="0.1"
                :max="data.beamLength"
              />
              м;
            </span>
          </p>
          <h3>Розрахункова схема балки</h3>
          <image-beam
            :beam="data.beamLength"
            :loads="loads"
            :support="support"
          ></image-beam>
        </div>
      </div>
      <div class="before"></div>
      <div class="page">
        <div id="epur">
          <h3>Епюра поперечних сил N</h3>
          <image-epur
            :beam="data.beamLength"
            :epur="epurlistQ"
            :value="epurlistQ"
          ></image-epur>
          <h3>Епюра моментів $N \times m$</h3>
          <image-epur
            :beam="data.beamLength"
            :epur="epurlistM"
            :value="valuelistM"
          ></image-epur>
        </div>
      </div>
      <div class="before"></div>
      <div class="page">
        <div id="epur">
         
          <h3>Епюра прогинів (мм)</h3>
          <image-epur
            :beam="data.beamLength"
            :epur="epurlistY"
            :value="valuelistY"
          ></image-epur>
        </div>
        <div id="info">
          <p>
            Максимальная срезающая сила L={{max.Q.x}}m Q={{round(max.Q.y)}}N
          </p>
          <p>
            Максимальный момент L={{round(max.M.x)}}m M={{round(max.M.y)}} $N
            \times m$
          </p>
          <p>Максимальный прогиб L={{round(max.f.x)}}m f={{max.f.y}} mm</p>
          <p>Усилия в сечении</p>
          <label>
            Координата сечения:
            <input
              type="range"
              v-model="section"
              min="0"
              step="0.1"
              :max="data.beamLength"
            />
            <input
              type="number"
              v-model="section"
              min="0"
              step="0.1"
              :max="data.beamLength"
            />m
          </label>
          <p>
            Текyщая координата сечения: {{ round(section) }} м;
            Q={{Math.abs(in_section.Q)}}N M={{Math.abs(in_section.M)}} $N \times
            m$; f ={{in_section.f}}mm
          </p>
        </div>
      </div>
      <div class="before"></div>
    </div>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            section: 3,
            R: 0,
            type: 2,

            support: [
              {
                type: "point",
                magnitude: 0,
                start: 1,
              },
              {
                type: "point",
                magnitude: 0,
                start: 7,
              },
            ],

            data: {
              beamLength: 7,
              modulusElasticity: 206000,
              momentInertia: 174,
            },

            loads: [
              // { type: "point", magnitude: 10, start: 3 },
              // { type: "point", magnitude: 5, start: 5 },

              // { type: "point", magnitude: 5, start: 3 },
              // { type: "point", magnitude: 5, start: 4 },
              // { type: "point", magnitude: 10, start: 5 },
              // { type: "point", magnitude: -5, start: 6 },

              { type: "uniform", magnitude: 1000, start: 3, end: 5 },
              { type: "point", magnitude: 1000, start: 3 },
              // { type: "uniform", magnitude: 5, start: 3, end: 5 },
            ],
          };
        },
        mounted() {
          this.renderMath();
        },
        updated() {
          this.renderMath();
        },
        computed: {
          in_section() {
            let in_section = [{ Q: 0 }, { M: 0 }, { f: 0 }];

            for (let v of this.epurlistM) {
              in_section.Q = 0;
              for (let x of this.epurlistQ) {
                if (v.x == this.section) {
                  in_section.M = v.y;
                }
                if (x.x == this.section) {
                  if (in_section.Q != 0) {
                    in_section.Q -= x.y;
                  } else {
                    in_section.Q += x.y;
                  }
                }
              }
            }

            for (let v of this.epurlistY.slice(0, -1)) {
              for (let x of this.epurlistQ) {
                if (v.x == this.section) {
                  in_section.f = v.y;
                }
              }
            }

            return in_section;
          },

          max() {
            let mx = {
              Q: { x: 0, y: 0 },
              M: { x: 0, y: 0 },
              f: { x: 0, y: 0 },
            };
            for (let v of this.epurlistY.slice(0, -1)) {
              for (let x of this.epurlistQ) {
                if (mx.f.y < Math.abs(v.y)) {
                  mx.f.y = Math.abs(v.y);
                  mx.f.x = v.x;
                }
              }
            }

            for (let i of this.epurlistQ) {
              let min = i.y;
              let max = i.y;
              for (let x of this.epurlistQ) {
                if (i.x == x.x) {
                  if (x.y > max) {
                    max = x.y;
                  }
                  if (x.y < min) {
                    min = x.y;
                  }
                }
              }

              if (mx.Q.y < Math.abs(max - min)) {
                mx.Q.y = Math.abs(max - min);
                mx.Q.x = i.x;
              }
            }

            for (let v of this.epurlistM) {
              let Q = { x: 0, y: 0 };
              for (let x of this.epurlistQ) {
                if (mx.M.y < Math.abs(v.y)) {
                  mx.M.y = Math.abs(v.y);
                  mx.M.x = v.x;
                }
              }
            }
            return mx;
          },

          sortLoads() {
            let sortLoads = this.loads.slice();
            sortLoads.sort(function (a, b) {
              if (a.start > b.start) {
                return 1;
              }
              if (a.start < b.start) {
                return -1;
              }
              return 0;
            });
            return sortLoads;
          },
          allLoads() {
            if (this.type == 2) {
              let allLoads = this.support.slice();
              Array.prototype.push.apply(allLoads, this.sortLoads.slice());
              allLoads.sort(function (a, b) {
                if (a.start > b.start) {
                  return 1;
                }
                if (a.start < b.start) {
                  return -1;
                }
                return 0;
              });
              return allLoads;
            } else {
              let allLoads = [{ type: "point", magnitude: -this.R, start: 0 }];
              Array.prototype.push.apply(allLoads, this.sortLoads.slice());
              return allLoads;
            }
          },
          momentLoads() {
            return [{ x: 0, m: this.epurlistM[0].y }];
          },
          coordinate() {
            let coordinate = [0, this.round(this.section)];
            for (let i of this.allLoads) {
              if (i.type == "uniform") {
                coordinate.push(i.end);
              }
              coordinate.push(i.start);
            }
            coordinate.push(this.data.beamLength);
            coordinate.sort();
            coordinate = coordinate.filter(
              (item, pos, arr) => !pos || item !== arr[pos - 1]
            );
            return coordinate;
          },

          coordinateM() {
            let coordinate = this.coordinate.slice();
            for (let i = 1; i < 120; i++) {
              coordinate.push((this.data.beamLength / 120) * i);
            }
            for (let i of this.sortLoads) {
              if (i.type == "uniform") {
                coordinate.push((i.end + i.start) / 2);
              }
            }
            coordinate.sort();
            coordinate = coordinate.filter(
              (item, pos, arr) => !pos || item !== arr[pos - 1]
            );
            return coordinate;
          },

          epurlistQ() {
            let epur = [];
            let R = 0;

            for (let c in this.coordinate) {
              let coord = this.coordinate[c];
              for (let i of this.allLoads) {
                if (this.coordinate[c] == i.start) {
                  if (i.type == "point") {
                    epur.push({ x: coord, y: this.round(R) });
                    R += i.magnitude;
                    epur.push({ x: coord, y: this.round(R) });
                  }
                }
                if (i.type == "uniform") {
                  if (
                    this.coordinate[c] >= i.start &&
                    this.coordinate[c] <= i.end
                  ) {
                    if (i.start == this.coordinate[c - 1]) {
                      R += i.magnitude * (this.coordinate[c] - i.start);
                    } else if (i.start == this.coordinate[c]) {
                      R += 0;
                    } else {
                      R +=
                        i.magnitude *
                        (this.coordinate[c] - this.coordinate[c - 1]);
                    }
                  }
                  epur.push({ x: coord, y: this.round(R) });
                }
              }
            }
            return epur;
          },

          epurlistM() {
            let epur = [];
            for (let c in this.coordinateM) {
              let moment = 0;
              for (let i of this.allLoads) {
                if (i.type == "point" && this.coordinateM[c] < i.start) {
                  moment += i.magnitude * (i.start - this.coordinateM[c]);
                }
                if (i.type == "uniform" && this.coordinateM[c] < i.start) {
                  moment +=
                    i.magnitude *
                    (i.end - i.start) *
                    ((i.end + i.start) / 2 - this.coordinateM[c]);
                } else if (i.type == "uniform" && this.coordinateM[c] < i.end) {
                  moment +=
                    i.magnitude *
                    (i.end - this.coordinateM[c]) *
                    ((i.end + this.coordinateM[c]) / 2 - this.coordinateM[c]);
                }
              }
              epur.push({ x: this.coordinateM[c], y: this.round(moment) });
            }
            return epur;
          },

          valuelistM() {
            let value = [];
            for (let v of this.epurlistM) {
              for (let i of this.allLoads) {
                if (i.type == "uniform" && (i.end + i.start) / 2 == v.x) {
                  value.push({ x: v.x, y: v.y });
                }
              }
              for (let x of this.epurlistQ) {
                if (v.x == x.x) {
                  value.push({ x: x.x, y: v.y });
                }
              }
            }

            return value;
          },

          epurlistY() {
            let epur = [];
            const EI = this.data.modulusElasticity * this.data.momentInertia;
            for (let c in this.coordinateM) {
              let y = 0;
              if (this.type == 1) {
                for (let m of this.momentLoads) {
                  if (this.coordinateM[c] > m.x) {
                    y -= (m.m * this.coordinateM[c] ** 2) / 2;
                  }
                }
              }
              if (this.type == 2) {
                y = -this.startParameters().y * EI;
                y += this.startParameters().v * this.coordinateM[c] * EI;
              }

              for (let i of this.allLoads) {
                if (i.type == "point" && this.coordinateM[c] > i.start) {
                  y += (i.magnitude * (i.start - this.coordinateM[c]) ** 3) / 6;
                }
                if (i.type == "uniform") {
                  if (this.coordinateM[c] >= i.end) {
                    y -=
                      (i.magnitude * (i.start - this.coordinateM[c]) ** 4) /
                        24 -
                      (i.magnitude * (i.end - this.coordinateM[c]) ** 4) / 24;
                  } else if (
                    this.coordinateM[c] > i.start &&
                    this.coordinateM[c] < i.end
                  ) {
                    y -=
                      (i.magnitude * (i.start - this.coordinateM[c]) ** 4) / 24;
                  }
                }
              }
              epur.push({
                x: this.coordinateM[c],
                y: this.round((y / EI) * 10 ** 5),
              });
            }
            epur.push({
              x: this.coordinateM[this.coordinateM.length - 1],
              y: 0,
            });
            return epur;
          },
          valuelistY() {
            let value = [];
            for (let v of this.epurlistY.slice(0, -1)) {
              for (let i of this.allLoads) {
                if (i.type == "uniform" && (i.end + i.start) / 2 == v.x) {
                  value.push({ x: v.x, y: v.y });
                }
              }
              for (let x of this.epurlistQ) {
                if (v.x == x.x) {
                  value.push({ x: x.x, y: v.y });
                }
              }
            }
            return value;
          },
        },
        methods: {
          upReaction() {
            this.supportReaction();
          },

          supportReaction() {
            if (this.type == 1) {
              let R = 0;
              for (let i of this.sortLoads) {
                if (i.type == "uniform") {
                  R += i.magnitude * (i.end - i.start);
                } else {
                  R += i.magnitude;
                }
              }
              this.R = R;
              return [{ x: 0, y: R }];
            }

            let R1 = 0;
            let R2 = 0;
            for (let i of this.sortLoads) {
              if (i.type == "uniform") {
                R1 -=
                  i.magnitude *
                  (i.end - i.start) *
                  (this.support[1].start - (i.start + i.end) / 2);
                R2 +=
                  i.magnitude *
                  (i.end - i.start) *
                  ((i.start + i.end) / 2 - this.support[0].start);
              } else {
                R1 += i.magnitude * (i.start - this.support[1].start);
                R2 += i.magnitude * (i.start - this.support[0].start);
              }
            }
            this.support[0].magnitude = this.round(
              R1 / (this.support[1].start - this.support[0].start)
            );
            this.support[1].magnitude = this.round(
              R2 / (this.support[0].start - this.support[1].start)
            );
            this.R = 0;
            return [
              // { x: 0, y: 0 },
              // { x: this.support[0].x, y: 0 },
              { x: this.support[0].start, y: this.support[0].magnitude },
              { x: this.support[1].start, y: this.support[1].magnitude },
            ];
          },

          startParameters() {
            const x1 = this.support[0].start;
            const x2 = this.support[1].start;
            let C1 = 0;
            let C2 = 0;
            for (let i of this.allLoads) {
              if (i.type == "uniform") {
                if (i.start < x1) {
                  C1 -= (i.magnitude * (i.start - x1) ** 4) / 24;
                }
                if (i.end < x1) {
                  C1 += (i.magnitude * (i.end - x1) ** 4) / 24;
                }
                if (i.start < x2) {
                  C2 -= (i.magnitude * (x2 - i.start) ** 4) / 24;
                }
                if (i.end < x2) {
                  C2 += (i.magnitude * (x2 - i.end) ** 4) / 24;
                }
              } else {
                if (i.start < x1) {
                  C1 -= (i.magnitude * (i.start - x1) ** 3) / 6;
                }
                if (i.start < x2) {
                  C2 -= (i.magnitude * (x2 - i.start) ** 3) / 6;
                }
              }
            }
            const down =
              this.data.modulusElasticity * this.data.momentInertia * (x1 - x2);
            let y = (C2 * x1 - C1 * x2) / down;
            let v = -(C1 - C2) / down;
            return { c1: C1, c2: C2, y: y, v: v };
          },

          round(a) {
            return Math.round(a * 100) / 100;
          },
          renderMath() {
            MathJax.typesetPromise();
          },
        },

        components: {
          InputBlock,
          ImageBeam,
          ImageLoads,
          ImageEpur,
        },
      });

      app.mount("body div");
    </script>
  </body>
</html>
