<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Геометрические характеристики</title>
    <style>
      body {
        background-image: url(../A4.svg);
        background-repeat: repeat-y;
        font-family: "Times New Roman", Times, Georgia, serif;
        font-size: 0.99em;
      }

      .page {
        margin: 0px 0.5cm 2cm 1.8cm;
        height: 990px;
        width: 17.5cm;
        padding: 0.5cm;
      }

      .before {
        height: 8px;
        border-style: solid;
        border-color: white;
        font-size: 10px;
        content: " ";
      }
      .form-group {
        margin-bottom: 15px;
      }
      label {
        margin-right: 10px;
      }
      input[type="number"] {
        width: 70px;
        padding: 5px;
        margin-right: 10px;
      }
      .formula {
        /* font-size: 1.2em; */
        margin-top: 20px;
        /* padding-top: 6cm; */
        position: absolute;
        top: 29.7cm; 
        /* left: 100px;  */
        width: 17.5cm; 
        height: 29.0cm;
      }
      .rectangles {
        margin-bottom: 20px;
      }
      .rectangles div {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      button {
        margin-left: 10px;
      }
      svg rect {
        fill: lightgray;
        stroke: black;
        stroke-width: 2;
      }
      .form-row {
        margin-bottom: 10px;
        display: flex;
      }
      /* Стили для координатной оси */
      .axis {
        stroke: black;
        stroke-width: 2;
      }
      /* Стили для сетки */
      .grid {
        stroke: lightgray;
        stroke-width: 1;
      }
      /* Стили для стрелок */
      .arrow {
        fill: black;
      }
      input {
        width: 2cm;
      }
    </style>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/contrib/auto-render.min.js"></script>

    <script src="./RectangleForm.js"></script>
    <script src="./SectionFormula.js"></script>
  </head>

  <body>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true
        },
        "HTML-CSS": { fonts: ["TeX"] }
      });
    </script>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js"
    ></script>

    <div id="app">
      <div class="before"></div>
      <div class="page">
        <!-- &times; -->
        <h2>Розрахунок геометрічних характеристик</h2>
        <p>
          Переріз:
          <select v-model="section">
            <option disabled value="">Виберіть переріз</option>
            <option>Прямокутник</option>
            <option>Труба прямокутна</option>
            <option>Коло</option>
            <option>Кругла труба</option>
            <option>Двотавр</option>
            <option>Швеллер</option>
            <option>Складне</option>
          </select>
        </p>
        <!-- <img src="./section.svg" alt="сечение" /> -->
        <div v-if="section == 'Труба прямокутна'">
          <img src="./rect.svg" alt="сечение" />
          <p>
            h=
            <input v-model="h" type="number" placeholder="h" size="5" />
            (мм) висота перерізу
          </p>
          <p>
            b=
            <input v-model="b" type="number" placeholder="b" size="5" />
            (мм) ширина перерізу
          </p>
          <p>
            t=
            <input v-model="t" type="number" placeholder="t" size="5" />
            (мм) товщина елементa
          </p>
          <p>
            допоміжні розміри: $$b_1=b - 2 \times t = {{b}} - 2 \times {{t}} =
            {{b_1=b-2*t}} мм$$ $$h_1=b - 2 \times t = {{h}} - 2 \times {{t}} =
            {{h_1=h-2*t}} мм$$
          </p>
          <p>
            Площа перерізу: $$A=b \times h - b_1 \times h_1 = {{b}} \times {{h}}
            - {{b_1}} \times {{h_1}} = {{A = Math.round(b*h -
            b_1*h_1)/100}}см^2$$
          </p>
          <p>
            Момент інерції: $$I = \frac{b \times h^3}{12} - \frac{b_1 \times
            h_1^3}{12}= \frac{ {{b}} \times {{h}}^3}{12} - \frac{ {{b_1}} \times
            {{h_1}}^3}{12}= {{I = Math.round(( b*h**3/12-b_1*h_1**3/12
            )/100)/100}}см^4$$
          </p>
        </div>
        <div v-else-if="section == 'Прямокутник'">
          <img src="./rect2.svg" alt="сечение" />
          <p>
            h=
            <input v-model="h" type="number" placeholder="h" size="5" />
            (мм) висота перерізу
          </p>
          <p>
            b=
            <input v-model="b" type="number" placeholder="b" size="5" />
            (мм) ширина перерізу
          </p>
          <p>
            Площа перерізу: $$A=b \times h = {{b}} \times {{h}} = {{A =
            Math.round(b*h )/100}}см^2$$
          </p>
          <p>
            Момент інерції: $$I = \frac{b \times h^3}{12} = \frac{ {{b}} \times
            {{h}}^3}{12} ={{I = Math.round(( b*h**3/12 )/100)/100}}см^4$$
          </p>
        </div>
        <div v-else-if="section == 'Коло'">
          <img src="./circle2.svg" alt="сечение" />
          <p>
            b=
            <input v-model="b" type="number" placeholder="b" size="5" />
            (мм) ширина перерізу
          </p>
          <p>
            Площа перерізу: $$A=\frac{3.14}{4} \times b^2 = \frac{3.14}{4}
            \times {{b}}^2 = {{A = Math.round(3.14/4* (b**2 ))/100}}см^2$$
          </p>
          <p>
            Момент інерції: $$I = \frac{3.14}{64} \times b^4 =\frac{3.14}{64}
            \times {{b}}^4 = {{I = Math.round(( 3.14/64*(b**4)
            )/100)/100}}см^4$$
          </p>
        </div>
        <div v-else-if="section == 'Кругла труба'">
          <img src="./circle.svg" alt="сечение" />
          <p>
            b=
            <input v-model="b" type="number" placeholder="b" size="5" />
            (мм) ширина перерізу
          </p>
          <p>
            t=
            <input v-model="t" type="number" placeholder="t" size="5" />
            (мм) товщина елементa
          </p>
          <p>
            допоміжні розміри: $$b_1=b - 2 \times t = {{b}} - 2 \times {{t}} =
            {{b_1=b-2*t}} мм$$
          </p>
          <p>
            Площа перерізу: $$A=\frac{3.14}{4} \times (b^2 - b_1^2 ) =
            \frac{3.14}{4} \times ({{b}}^2- {{b_1}}^2) = {{A =
            Math.round(3.14/4* (b**2 - b_1**2))/100}}см^2$$
          </p>
          <p>
            Момент інерції: $$I = \frac{3.14}{64} \times (b^4 - b_1^4
            )=\frac{3.14}{64} \times ({{b}}^4 - {{b_1}}^4 )= {{I = Math.round((
            3.14/64*(b**4-b_1**4) )/100)/100}}см^4$$
          </p>
        </div>
        <div v-else-if="section == 'Двотавр'">
          <img src="./2T.svg" alt="сечение" />
          <p>
            h=
            <input v-model="h" type="number" placeholder="h" size="5" />
            (мм) висота перерізу
          </p>
          <p>
            b=
            <input v-model="b" type="number" placeholder="b" size="5" />
            (мм) ширина перерізу
          </p>
          <p>
            t=
            <input v-model="t" type="number" placeholder="t" size="5" />
            (мм) товщина стінки
          </p>
          <p>
            s=
            <input v-model="s" type="number" placeholder="s" size="5" />
            (мм) товщина полки
          </p>
          <p>
            допоміжні розміри: $$a=b - t = {{b}} - {{t}} = {{a=b-t}} мм$$
            $$h_1=b - 2 \times s = {{h}} - 2 \times {{s}} = {{h_1=h-2*s}} мм$$
          </p>
          <p>
            Площа перерізу: $$A=b \times h - h_1 \times a = {{b}} \times {{h}} -
            {{h_1}} \times {{a}} = {{A = Math.round(b*h - h_1*a)/100}}см^2$$
          </p>
          <p>
            Момент інерції: $$I = \frac{b \times h^3}{12} - \frac{a \times
            a^3}{12}= \frac{ {{b}} \times {{h}}^3}{12} - \frac{ {{a}} \times
            {{h_1}}^3}{12}= {{I = Math.round(( b*h**3/12-a*h_1**3/12
            )/100)/100}}см^4$$
          </p>
        </div>
        <div v-else-if="section == 'Швеллер'">
          <img src="./C.svg" alt="сечение" />
          <p>
            h=
            <input v-model="h" type="number" placeholder="h" size="5" />
            (мм) висота перерізу
          </p>
          <p>
            b=
            <input v-model="b" type="number" placeholder="b" size="5" />
            (мм) ширина перерізу
          </p>
          <p>
            t=
            <input v-model="t" type="number" placeholder="t" size="5" />
            (мм) товщина стінки
          </p>
          <p>
            s=
            <input v-model="s" type="number" placeholder="s" size="5" />
            (мм) товщина полки
          </p>
          <p>
            допоміжні розміри: $$a=b - t = {{b}} - {{t}} = {{a=b-t}} мм$$
            $$h_1=b - 2 \times s = {{h}} - 2 \times {{s}} = {{h_1=h-2*s}} мм$$
          </p>
          <p>
            Площа перерізу: $$A=b \times h - h_1 \times a = {{b}} \times {{h}} -
            {{h_1}} \times {{a}} = {{A = Math.round(b*h - h_1*a)/100}}см^2$$
          </p>
          <p>
            Момент інерції: $$I = \frac{b \times h^3}{12} - \frac{a \times
            a^3}{12}= \frac{ {{b}} \times {{h}}^3}{12} - \frac{ {{a}} \times
            {{h_1}}^3}{12}= {{I = Math.round(( b*h**3/12-a*h_1**3/12
            )/100)/100}}см^4$$
          </p>
        </div>
        <div v-else>
          <section-formula></section-formula>
        </div>
        <div v-if="section != 'Складне'">
          <p>
            Момент опору: $$W = \frac{I}{ \frac{h}{2} } = \frac{ {{I}} }{ \frac{
            {{h/10}} }{2} }= {{W = Math.round((I/h*2)*1000)/100}}см^3$$
          </p>
          <p>
            Радіус інерції: $$i =\sqrt{\frac{ I }{ A } } = \sqrt{\frac{ {{I}} }{
            {{A}} } }= {{A = Math.round((I/A)**0.5*100)/100}}см$$
          </p>
        </div>
      </div>

      <!-- <div class="before"></div> -->
    </div>
    <script>
      // const { createApp } = Vue;
      const { createApp, ref, computed } = Vue;
      const app = Vue.createApp({
        data() {
          return {
            section: "Труба прямокутна",
            h: 100,
            b: 100,
            t: 3,
            s: 4,
            rectangles: null,
          };
        },
        methods: {
          reRender() {
            if (window.MathJax) {
              console.log("rendering mathjax");
              this.$nextTick(() => {
                window.MathJax.Hub.Queue(["Typeset", window.MathJax.Hub], () =>
                  console.log("done")
                );
              });
            }
          },
        },
        mounted() {
          this.reRender();
        },
        watch: {
          section: function () {
            this.$nextTick().then(() => {
              this.reRender();
            });
          },

          h: function () {
            this.$nextTick().then(() => {
              this.reRender();
            });
          },
          b: function () {
            this.$nextTick().then(() => {
              this.reRender();
            });
          },
          t: function () {
            this.$nextTick().then(() => {
              this.reRender();
            });
          },
        },
      });
      app.component("rectangle-form", RectangleForm);
      app.component("section-formula", SectionFormula);
      app.mount("#app");
    </script>
  </body>
</html>
